.headerStyle{
  text-align: center;
}

#header{
  text-align: center;
}

#box {
       display: flex;
       flex-flow: row wrap;
       /* justify-content: center; */
     }

#all {
   width: 300px;
   height: 300px;
      }



#Buts{
  text-align: center;
  user-select: none;

}
